<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 *ngIf="!group.id">New group</h3>
    <h3 *ngIf="group.id">{{ group.name }} </h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [ngFormModel]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" ngControl="name" [(ngModel)]="group.name">
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" (click)="back()">Back</button>
      </div>

    </form>
  </div>
</div>


<div class="panel panel-default" *ngIf="group.id">
  <div class="panel-heading text-center">
    <h3>Contacts</h3>
  </div>
  <div class="panel-body">
    <table class="table"><tr>
        <td>
          <select class="form-control" [(ngModel)]="selectedContactId" placeholder="Select contact">
            <option *ngFor="#contact of remainingContacts" [value]="contact.id">
              {{ contact.firstName + ' ' + contact.lastName }}
            </option>
          </select>
        </td>
        <td>
          <button type="button" class="fa fa-plus btn btn-primary pull-right" (click)="addSelectedContact()" (disabled)="!selectedContactId">
          </button>
        </td>
      </tr>
      <tr *ngFor="#contactGroup of contactGroups">
        <td>{{ contactGroup.contact.firstName + ' ' + contactGroup.contact.lastName }}</td>
        <td>            
          <button type="button" class="fa fa-trash btn btn-danger pull-right" (click)="removeContact(contactGroup.id)">
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>